# Server
NODE_ENV=dev
PORT=8000
HOST=0.0.0.0
BASE_URL=http://localhost:8000
API_VERSION=1.0.0
ALLOWED_ORIGINS=http://localhost:3000,http://192.168.0.107:8081,http://localhost:8081
LOG_LEVEL=info

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe Production
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=brl

# Database
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:8000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
